<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @message.listing_name %></h3>
  </div>
  <div class="panel-body">

    <div>
      <div>
      <span>
        <strong><%= @message.listing_name %></strong>
      </span>
      </div>
      <div clas="top-right">
          <%= simple_date(@message.created_at) %>
      </div>
    </div>
    <%= link_to t('.answer_message'), "#{}",
    id:"mail_to_link",
    data: {
      mail: @message.email,
      subject:"#{@message.listing_name} | Locationguru.net",
      body:"" },
      class: "btn btn-default btn-small" %>

    <div>
      <br>
      <strong>
        <%= @message.name %>
        &lt;<%= @message.email %>&gt;
      </div>
    </strong>
    <div>
      <hr>
      <p>
      <%= html_line_breaks(@message.message) %>
    </p>
    </div>
  </div>
</div>
<%= javascript_include_tag 'send_message_on_button' %>
