<% # A link cloud for special pages of a kind type %>

<div class="kind-cloud-block">
  <h2>Looking for a special kind?</h2>

    <div class= "kind-cloud-element">
      <%=link_to 'Party Venues', '/guides/partyvenues' %>
    </div>

    <div class= "kind-cloud-element">
      <%=link_to 'Multi-Purpoise Rooms', '/guides/multi_purpose_rooms' %>
    </div>

    <div class= "kind-cloud-element">
      <%=link_to 'Clubhouses', '/guides/clubhouses' %>
    </div>

    <div class= "kind-cloud-element">
      <%=link_to 'Pub / Bar', '/guides/pubs' %>
    </div>

    <div class= "kind-cloud-element">
      <%=link_to 'Restaurants', '/guides/restaurants' %>
    </div>
</div>
