<% meta_tag :page_title,page_title + ' - Admin dashboard' %>

<div class="secondary-container">
  <div class="container">

    <div class="row">
      <div class="col-md-4 text-center">
          <%= render 'statistics_table' %>
        </div>
        <div class="col-md-4">
          <%= render partial: 'latest_venues', locals: {locations: @latest_locations} %>
        </div>
        <div class="col-md-4">
          <%= render partial: 'top_requested_locations', locals: {location_messages: @top_requested_locations} %>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= render partial: 'insufficient_photos', locals: {location_photos: @insufficient_photos} %>
      </div>
      <div class="col-md-4">
        <%= render partial: 'recent_messages', locals: {recent_messages: @messages} %>
      </div>
      <div class="col-md-4">
        <%= render partial: 'reviews', locals: {reviews: @reviews} %>
      </div>
    </div>
  </div>
</div>
