<% meta_tag :page_title,page_title + ' - Admin dashboard' %>
<div class="row">
  <div class="col-md-9 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('.statistics') %>
      </div>
      <div class="panel-body">
        <table class="statistic-table">
          <tbody>
            <tr>
              <td class="text-left"><%= link_to t('.total_users'), admin_users_path %></td>
              <td class="statistic-table right"><%= @totalUsers %></td>
            </tr>
            <tr>
              <td class="text-left"><%= link_to t('.total_locations'), admin_locations_path%></td>
              <td class="statistic-table right"><%= @totalLocations %></td>
            </tr>
            <tr>
              <td class="text-left"><%= t('.total_active_locations') %></td>
              <td class="statistic-table right"><%= @totalActiveLocations %></td>
            </tr>
            <tr>
              <td class="text-left"><%= t('.total_messages') %></td>
              <td class="statistic-table right"><%= @totalMessages %></td>
            </tr>
          </tbody>
        </table>
        <%= link_to 'Start Recalculation of geodata', admin_recalculation_path, method: :post %>
      </div>

    </div>
  </div>
</div>
