<% meta_tag :page_title,page_title + ' - Admin Locations' %>
<%= t('.total_locations') %>
<%= @locations.count %>
<br/>
<div class="table-responsive">
  <table class="table table-striped">
      <tr>
       <th scope="col">ID</th>
       <th scope="col">Name</th>
       <th scope="col">Creator</th>
       <th scope="col">Created At</th>
       <th scope="col">Geocoded</th>
      </tr>
      <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to location.listing_name, location_path(location) %></td>
        <td><%= location.user.email %> / <%= location.user.id %></td>
        <td><%= location.created_at %></td>
        <td><% if location.geocoded? %>
          <i class="fa fa-check"></i>
          long.: <%= location.longitude %>, lat.: <%= location.latitude %>
          <% else %>
          <div class="text-center">Not geocoded.</div>
        <% end %></td>
      </tr>
      <% end %>
    </table>

</div>
