<% meta_tag :page_title,page_title + ' - Admin Userlist' %>
<%= t('.total_users') %>
<%= @users.count %>
<br/>
<div class="table-responsive">
  <table class="table table-striped">
      <tr>
       <th scope="col">ID</th>
       <th scope="col">Email</th>
       <th scope="col">Name</th>
       <th scope="col">Locations active/inactive</th>
       <th scope="col">Created</th>
       <th scope="col">Provider</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= mail_to user.email %></td>
        <td><%= user.fullname %></td>
        <td>
          <%= link_to user.activeLocations.count, admin_locations_path(active: :true, userid: user.id) %> /
          <%= link_to user.inactiveLocations.count, admin_locations_path(active: :false, userid: user.id) %></td>
        <td><%= user.created_at %></td>
        <% if user.provider.blank? %>
          <td>Site</td>
        <% else %>
          <td><%= user.provider %></td>
        <% end %>
      </tr>
      <% end %>
    </table>

</div>
