
<footer class="container">
  <p class="float-right">
    <a href="#"><%= t('.back_top') %></a>
  </p>

  <p>© 2017-<%= Time.now.strftime("%Y") %> <a href="https://Claus-Software.de">Claus-Software</a>
    ·
    <%= link_to t('.become_a_host'), new_location_path %>
    ·
    <%= link_to t('.privacy'), privacy_path %>
    ·
    <%= link_to t('.gtc'), gtc_path %>
    ·
    <a href="https://github.com/tclaus/locationguru"><%= t(".sourcecode") %></a>
    ·
    <%= link_to t('.impressum'), impressum_path %>
    ·
    E-Mail: <%= mail_to 'support@locationguru.net' %>
  </p>
</footer>
