<footer class="container">
  <p class="float-right">
    <a href="#"><%= t('.back_top') %></a>
  </p>

  <%= render 'shared/facebook_share' %>

  <p>© 2017-2018 <a href="https://Claus-Software.de">Claus-Software</a>
    .
    <%= link_to t('.contact'), "https://claus-software.de/kontakt/" %>
    ·
    <%= link_to t('.become_a_host'), new_location_path %>
    ·
    <%= link_to t('.privacy'), privacy_path %>
    ·
    <%= link_to t('.impressum'), impressum_path %>
  </p>
</footer>
