
<footer class="container">
  <p class="float-right">
    <a href="#"><%= t('.back_top') %></a>
  </p>

  <p>© 2017-2018 <a href="https://Claus-Software.de">Claus-Software</a>
    ·
    <%= link_to t('.contact'), "https://claus-software.de/kontakt/" %>
    ·
    <%= link_to t('.become_a_host'), new_location_path %>
    ·
    <%= link_to t('.privacy'), privacy_path %>
    ·
    <%= link_to t('.impressum'), impressum_path %>
    ·
    E-Mail: <%= mail_to 'support@locationguru.net' %>
  </p>
  <p>
    <a href="https://www.facebook.com/thorstenclaus74/">
      <i class="fab fa-facebook fa-3x" aria-hidden="true"></i>
    </a>
  </p>

</footer>
