<div class="primary-container">
  <div class="container">
    <div class="search-bar">
    <%= form_tag search_path, method: :get do %>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <%= text_field_tag :search, params[:search],
              placeholder: t('.where_are_you_looking_for'),
              class:"search-control search-textfield",
              id: "auto_location",
              autofocus: true %>
        </div>
        <div class="col-md-4">
          <%  kindTypeArray = KindType.all.map {|type| [trKindType(type.id), type.id]} %>
          <%= select_tag( :location_type, options_for_select(kindTypeArray), {:prompt => t('.select_location_type')}) %>
        </div>
        <div class="col-md-2">
            <%= submit_tag t('search'), class:"btn btn-default btn-search" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% # close sourrounding containers %>

<div class="orange-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <%= link_to new_location_path do %>
            <button class="btn btn-default"><%= t('.add_your_location') %></button>
          <% end %>
        </div>
      <div class="col-md-4"></div>
      </div>
  </div>
</div>

<% # divides the outer container classes %>
<div class="secondary-container">
  <div class="container">
    <p class="teaser-text">
      <%= t('.home_page_teaser') %>
    </p>

    <% # Sample Vanues %>
    <% if !@locations.empty? %>
      <%= render 'locations/venues_gallery' %>
    <% else %>
      <%= render 'pages/no_locations_found' %>
    <% end %>
  </div>
</div>
<% # Location kinds %>
<div class="secondary-container">
  <%= render 'kind_cloud/venue_kinds' %>
</div>

<% # Start container again #%>

<%= javascript_include_tag( 'home_geocomplete' ) %>
