<div id="main">
  <div id="left">
    <!-- search Panel -->
    <div class="row">
      <div class="col-md-offset-4 col-md-6">
        <button id="filter" class="btn btn-default" data-toggle="collapse" data-target="#collapsePanel">
          <%= t('.moreFilters') %>
          <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <br/>
      <div class="collapse" id="collapsePanel">
        <%= search_form_for @search, url: search_path do |f|%>
        <%= t('.ammenities') %>
        <div class="row">
          <div class="col-md-4">
            <%= check_box_tag "q[isExclusiveAvailable_eq_any[]]", "isExclusiveAvailable" %>
            <%= t('.isExclusiveAvailable') %>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label><%= t('.locationType') %>
              </label>
              <%= collection_select("q[location_type]", :location_type, LocationType.all, :id, :name) %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label><%= t('.locationKind') %></label>
              <%= collection_select("q[location_kind]", :kind_type, KindType.all, :id,:name) %>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-4">
            <%= check_box_tag "q[has_heating_eq]", true %>
            <%= t('.hasHeating') %>
          </div>
          <div class="col-md-4">
            <%= check_box_tag "q[has_kitchen_eq]", true %>
            <%= t('.hasKitchen') %>
          </div>
          <div class="col-md-4">
            <%= check_box_tag "q[has_music_equipment_eq]", true %>
            <%= t('.hasMusicEquipment') %>
          </div>
          <div class="col-md-4">
            <%= check_box_tag "q[has_outdoor_eq]", true %>
            <%= t('.hasOutdoor') %>
          </div>
          <div class="col-md-4">
            <%= check_box_tag "q[has_parking_space_eq]", true %>
            <%= t('.hasParkingSpace') %>
          </div>
        </div>
        <hr/>
        <div class="row text-center">
          <%= f.submit t('search'), class: "btn btn-form" %>
        </div>
        <% end %>
      </div>
    <br/>
    <% if !@locations.empty? %>
      <%= render partial: 'locations/location_list' %>
    <% else %>
      <%= render partial: 'pages/no_locations_found' %>
    <% end %>

  </div>
</div>
<div id="right">
  <!-- google map -->
  <div id="map" style="width: 100%; height: 100%">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['maps_key'] %>"></script>
    <script>
      console.log('enter script');
      function initialize() {
        console.log('Init Google maps');
        // Set defaults 51.5080144, 7.3298357,11z
        var location = {
          lat: 51.5080144,
          lng: 7.3298357
        };
        <% if @locations.length > 0 %>
        location = {
          lat: <%= @locations[0].latitude %>,
          lng: <%= @locations[0].longitude %>
        }
        <% end %>

        var map = new google.maps.Map(document.getElementById('map'), {
          center: location,
          zoom: 12
        });
        var marker,
          infoWindow;

        <% @locations.each do |location| %>
        <% location.price_level = 42 %>
        marker = new google.maps.Marker({
          position: {
            lat: <%= location.latitude %>,
            lng: <%= location.longitude %>
          },
          map: map
        });

        infoWindow = new google.maps.InfoWindow({
          content: "<div class='map_price'> " + <%= location.price_level %> + " </div>"
        });
        infoWindow.open(map, marker);
        <% end %>
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </div>
</div>
</div>

<script>
var open = true;
$('#filter').click(function () {
  if (open) {
    $('#filter').html("<%= t('.lessFilters') %> <i class='fa fa-chevron-up'></i>");
  } else {
    $('#filter').html("<%= t('.moreFilters') %> <i class='fa fa-chevron-down'></i>");
  }
  open = !open;
});
</script>
