<h3><%= t('.location') %></h3>
<% if !@location.latitude.blank? && !@location.longitude.blank? %>
    <div id="map" data-lat=<%= @location.latitude %>
        data-lng=<%= @location.longitude %>
        data-name=<%= @location.listing_name %>
        data-image=<%= @location.cover_photo(:thumb) %>
        class="maps-area-single">
    </div>
    <%= javascript_include_tag('maps_single_location') %>
<% else %>
  <div class="no-location">Kein Standort verfügbar</div>
<% end %>

<h4 class="venue-name"><%= @location.listing_name %></h4>
<% if !@location.address.blank? %>
  <address>
  <%= link_to @map_link, target: :blank do %>
    <i class="fas fa-map-marker-alt fa-lg"></i>
    <%= html_line_breaks(@location.address) %>
  <% end %>

  </address>
<% end %>
