
<hr>
<h3><%= t('.near_by') %></h3>
<% if !@location.nearbys(25).blank? %>
  <div class="row">
    <% for location in @location.nearbys(25).max(6).shuffle %>
    <% if location.is_active? %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <%= image_tag location.cover_photo(:medium), alt: location.listing_name %>
          </div>
          <div class="panel-body listing-properties">
            <%= link_to location.listing_name, location %>
            <br>
            (<%= location.distance.round(1) %>
            <%= t('.distance_from') %>)
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>
  <% else %>
    <div><%=  t('.no_locations_nearby') %></div>
  <% end %>
