<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item">
        <%= link_to t('your_listings'), locations_path, class:"sidebar-link" %>
      </li>
      <li class="sidebar-item">
        <%= link_to t('your_trips'), your_trips_path, class:"sidebar-link active" %>
      </li>
      <li class="sidebar-item">
        <%= link_to t('your_reservations'), your_reservations_path, class:"sidebar-link" %>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
       <%= t('your_trips') %>
      </div>
    </div>
    <div class="panel-body">
      <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-2">
              <%= trip.start_date.strftime('%v') %>
            </div>
            <div class="col-md-2">
              <%= link_to locations_path(trip.location) do %>
                <%= image_tag trip.location.cover_photo(:thumb) %>
              <% end %>
            </div>

            <div class="col-md-5">
              <%= link_to trip.location.listing_name, location_path(trip.location) %> <br> <br>
              <span class="pull-right text-center">
                <%= image_tag avatar_url(trip.location.user), class:"img-circle avatar-small" %> <br>
                <%= link_to user_path(trip.location.user) do %>
                  <%= trip.location.user.fullname %>
                <% end %>
              </span>
            </div>
            <div class="col-md-3 text-right">
              <%= render partial: "reviews/guest_form", locals: {reservation: trip} %>
            </div>
          </div>
          <hr>
      <% end %>
    </div>
  </div>
</div>
