<div class="row">
  <div class="col-md-3">
    <%= render '/location_menu/entries_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('.your_reservations') %>
      </div>
      <div class="panel-body">

      <%= month_calendar do |date| %>
        <%= date.day %>
        <% @meetings.each do |meeting| %>
          <div>
            <%# = meeting.name %>
          </div>
        <% end %>
      <% end %>

      <% @hasReservations = false %>
      <div class="row">
        <div class="col-md-2"><%= t('.received') %></div>
        <div class="col-md-2"></div>
        <div class="col-md-5"><%= t('.location') %></div>
        <div class="col-md-3"><%= t('.status') %></div>
      </div>
      <hr>
      <% @locations.each do |location| %>

        <% location.reservations.each do |reservation| %>
          <% @hasReservations = true %>
          <div class="row">
            <div class="col-md-2">
              <%= l reservation.created_at, format: :short_date %>
            </div>
            <div class="col-md-2">
              <%= link_to location_path(reservation.location) do %>
                <%= image_tag reservation.location.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-5">
              <%= link_to reservation.location.listing_name, location_path(reservation.location) %><br/>
              <span>
                <% if !reservation.user.blank? %>
                  <% if !reservation.user.isSystem %>
                    <%= link_to user_path(reservation.user) do %>
                      <%= image_tag avatar_url(reservation.user), class: "img-circle avatar-small" %>
                      <%= reservation.user.fullname %>
                    <% end %>
                  <% else %>
                  <% # System user %>
                  <%= reservation.email %>
                  <% end %>
                <% else %>
                  <%= t('.unknown_or_deleted_user') %>
                <% end %>
                <br>
                <%= reservation.message %>
              </span>
            </div>
            <div class="col-md-3 text-right">
              <%= t(reservation.status, scope:'reservations.your_reservations') %>: <%= l reservation.start_date, format: :short_date %>
            </div>
          </div>
        <hr/>
        <% end %>
      <% end %>
      <% if !@hasReservations %>
        <%= t('.you_have_no_reservation_for_any_location') %>
      <% end %>
</div>
</div>
</div>
</div>
