
<div class="secondary-container">
  <div class="container">

    <div class="right">
      <!-- google map -->
      <div id="map" data-mapdata='<%= raw simple_locations.to_json.gsub("</", "<\\/") %>' class="maps-area-multiple">

        <%= javascript_include_tag('maps_location_list') %>
      </div>
    </div>

    <div class="left">
      <div class="row" id="location_listing">
        <h2><%= t(headline) %></h2>
        <% if !locations.empty? %>
          <%= render 'locations/venues_gallery', locations: locations %>
        <% else %>
          <%= render 'pages/no_locations_found' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
