<div class="panel panel-default">
  <div class="panel-heading">
    <span>
      <i class="fas fa-info"></i>
      <%= t('.contact') %>
    </span>
  </div>
  <div class="panel-body">
    <div>
      <% if @location.user.hasPremium %>
        <div class="text-center">
          <%= link_to t('.send_a_message'),send_message_location_path(@location), class: "btn btn-default" %>
        </div>
        <% if !@location.website.blank? || !@location.phonenumber.blank? %>
          <hr>
        <% end %>
      <% end %>

      <table class="contact-table">
        <tbody>
          <% if !@location.website.blank? %>
            <tr>
              <td><%= t('.website') %></td>
              <td>
                <% if @location.website.size > 28 %>
                  <%= link_to @location.website.slice(0,28) + '...', @location.website %>
                <% else %>
                  <%= link_to @location.website, @location.website %>
                <% end %>
            </td>
            </tr>
          <% end %>
          <% if !@location.phonenumber.blank? %>
            <tr>
              <td> <%= t('.phonenumber') %></td>
              <td>
                <a href="tel:<%= @location.phonenumber %>">Tel: <%= @location.phonenumber %></a>
              </td>
            </tr>

          <% end %>
          <% if !@location.user.hasPremium %>
            <tr>
              <td><%= t('.email') %></td>
              <td class="text-right"><%= mail_to @location.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <br>

</div>
</div>
