<div class="panel panel-default">
  <div class="panel-heading">
    <span>
      <i class="fa fa-info"></i>
      <%= t('.contact') %>
    </span>
  </div>
  <div class="panel-body">
    <div>
      <table class="contact-table">
        <tbody>
          <% if !@location.website.blank? %>
          <tr>
            <td><%= t('.website') %></td>
            <td class="text-right"><%= link_to @location.website %></td>
          </tr>
          <% end %>
          <% if !@location.phonenumber.blank? %>
          <tr>
            <td> <%= t('.phonenumber') %></td>
            <td class="text-right"> <a href="tel:<%= @location.phonenumber %>">Tel: <%= @location.phonenumber %></a></span></td>
          </tr>
          <% end %>
          <tr>
            <td><%= t('.email') %></td>
            <td class="text-right"><%= mail_to @location.user.email %></td>
          </tr>
        </tbody>
      </table>

    Adapt this location

    </div>
    <br/>

</div>
</div>
