<div class="row">
  <% @locations.each do |location| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <%= link_to location do %>
        <div class="panel-heading preview">
          <%= image_tag location.cover_photo(:medium), alt: location.listing_name %>
        </div>
        <% end %>
        <div class="panel-body">
          <div class="listing_city"><%= location.city %> </div>
          <% if location.listing_name? %>
            <%= link_to location.listing_name, location, class: "listing_name" %>
          <% else %>
            <%= link_to t('.set_a_name'), location, class: "listing_name" %>
          <% end %>
          <br>
          <%= trLocationType(location.location_type) %> - <%= trKindType(location.kind_type) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
