<div class="row">
  <div class="col-md-3">
    <%= render 'location_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('.amenities') %>
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @location do |f| %>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group right">
                <label><%= t('.heating') %></label>
                <%= f.check_box :has_heating %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group right">
                <label><%= t('.kitchen') %></label>
                <%= f.check_box :has_kitchen %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group right">
                <label><%= t('.music_equipment') %></label>
                <%= f.check_box :has_music_eq %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group right">
                <label><%= t('.outside_area') %></label>
                <%= f.check_box :has_outdoor %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group right">
                <label><%= t('.parking_space') %></label>
                <%= f.check_box :has_parking_space %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group right">
                <label><%= t('.furnished') %></label>
                <%= f.check_box :has_furniture %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group select">
                <label><%= t('.catering') %></label>
                <%= f.collection_select(:catering,CateringType.all,:id,:name) %>
              </div>
            </div>
          </div>

          <div class="text-center">
            <%= f.submit t('.save') ,class:"btn btn-form" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
</div>
