<% meta_tag :page_title, page_title + ' - ' + @location.listing_name %>
<div class="row">
  <div class="col-md-3">
    <%= render 'location_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('.description') %>
      </div>
      <div class="panel-body">
        <div class="container venue-detail">
          <%= form_for @location do |f| %>
          <div class="row">
            <div class="form-group">
              <%= f.label :listing_name, t('.listing_name') %>
              <%= f.text_field :listing_name, placeholder: t('.what_is_your_listing_name'), class:"form-control", required: true, maxlength: 60 %>
              <small><%= t('.short_location_name_rule') %></small>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <%= f.label :subtitle, t('.subtitle') %>
              <%= f.text_field :subtitle, placeholder: t('.give_a_subtitle'), class:"form-control", required: false, maxlength: 160 %>
              <small><%= t('.short_subtitle_rule') %></small>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <%= f.label :summary, t('.summary') %>
              <%= f.text_area :summary, rows: 5, placeholder: t('.describe_your_location'), class:"form-control", required: true %>
            </div>
          </div>

          <div class="text-center">
            <%= f.submit t('.save') ,class:"btn btn-default" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
