<% meta_tag :page_title, page_title + ' - Locations' %>

<% # remove darker container %>
<div class="secondary-container">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
          </div>
            <div class="panel-body">
              <%= render '/location_menu/entries_menu' %>
          </div>
      </div>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
          <%= t('your_listings') %>  (<%= @locations.count %>)
          </div>
        </div>
        <div class="panel-body">
          <% if @locations.count == 0 %>
          <div class="row">
            <%= t('no_locations_yet') %>
          </div>
          <% else %>
            <% @locations.each do |location| %>
                <div class="row">

                  <div class="col-md-1 location-status">
                    <% if location.active? %>
                      <i class="far fa-check-circle fa-2x"></i>
                    <% else %>
                      <i class="far fa-circle fa-2x"></i>
                    <% end %>
                  </div>

                  <div class="col-md-2">
                    <%= link_to listing_location_path(location) do %>
                      <%= image_tag location.cover_photo(:thumb), class:"location-thumb", alt: location.listing_name %>
                    <% end %>
                  </div>
                  <div class="col-md-7">
                    <%= link_to listing_location_path(location) do %>
                      <h4> <%= location.listing_name %> </h4>
                    <% end %>
                    <%= t('.total_visits') %>: <%= location.total_count %>
                  </div>
                  <div class="col-md-2">
                    <%= link_to t('update'), listing_location_path(location), class:"btn btn-primary action-listing" %>
                    <%= link_to t('delete'), location_path(location), method: :delete, data:{confirm: t('.are_you_sure_delete_location')}, class:"btn btn-danger btn-sm action-listing" %>
                  </div>
                </div>
                <hr>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
