<div class="row">
  <div class="col-md-3">
    <%= render 'location_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('.listing') %>
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @location do |f| %>
          <div class="row">
            <div class="col-md-4 select">
              <div class="form-group">
                <%= label_tag(:location_type, t('.location_type')) %>
                <%= f.collection_select(:location_type, LocationType.all, :id, :name) %>
              </div>
            </div>

            <div class="col-md-4 select">
              <div class="form-group">
                <%= label_tag(:kind_type, t('.location_kind')) %>
                <%= f.collection_select(:kind_type, KindType.all, :id,:name) %>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <%= label_tag(:max_persons, t('.max_persons')) %>
                <%= f.text_field(:max_persons) %>
              </div>
            </div>

          </div>
          <div class="text-center">
            <div>
              <%= f.submit t('.save'), class:"btn btn-form" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
