<div class="row">
  <div class="col-md-3">
    <%= render 'location_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        Location
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @location do |f| %>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Website</label>
              <%= f.url_field :website, placeholder: "Website",class:"form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Phone Number</label>
              <%= f.telephone_field :phonenumber, placeholder: "Phone",class:"form-control" %>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label>Address</label>
              <%= f.text_area :address, rows: 5, placeholder: "What is your address?", class:"form-control" %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Save" ,class:"btn btn-form" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
