<div class="row">
  <div class="col-md-3">
    <%= render 'location_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('.location') %>
      </div>
      <div class="panel-body">
        <div class="container">
          <%= form_for @location do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :email, t('.email') %>
                <%= f.email_field :email, placeholder: t('.placeholder_venue_email'), class:"form-control", required:true, autocomplete:"email" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :website, t('.website') %>
                <%= f.url_field :website, placeholder: t('.placeholder_venue_website'),class:" form-control" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :phonenumber, t('.phone_number') %>
                <%= f.telephone_field :phonenumber, placeholder: t('.placeholer_venue_phone_number'),class: "form-control", autocomplete:"tel" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :address, t('.address') %>
                <%= f.text_area :address, rows: 5,
                placeholder: t('.placeholder_venue_address'),
                class: "form-control",
                  id: "auto_location",
                  required:true %>
                  <%= javascript_include_tag('home_geocomplete') %>
                    <% if current_user.isAdmin %>
                    <br>
                    <% if @location.geocoded? %>
                      <i class="fa fa-check"></i>
                      long.: <%= @location.longitude %>, lat.: <%= @location.latitude %>
                      <% else %>
                      Not geocoded.
                    <% end %>

                  <% end %>
              </div>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit t('.save') ,class:"btn btn-form" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
