<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('.create_your_location') %>
  </div>
  <div class="panel-body">
    <div class="container">
      <%= form_for @location do |f| %>
      <div class="row">
        <div class="form-group">
          <label><%= t('.listing_name') %></label>
          <%= f.text_field :listing_name, placeholder: t('.what_is_your_listing_name'), class:"form-control", required: true %>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label><%= t('.summary') %></label>
          <%= f.text_area :summary, rows: 5, placeholder: t('.describe_your_location'), class:"form-control", required: true %>
        </div>
      </div>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <%=f.label(:location_type, t('.location_type')) %>
              <% locationTypeArray = LocationType.all.map {|type| [trLocationType(type.id), type.id]} %>
              <%= f.select(:location_type, options_for_select(locationTypeArray), prompt: t('.select_location_type')) %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <%= f.label(:kind_type,t('.location_kind')) %>
              <% kindTypeArray = KindType.all.map {|type| [trKindType(type.id), type.id]} %>
              <%= f.select(:kind_type, options_for_select(kindTypeArray), prompt: t('.select_location_kind')) %>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <%= f.label(:max_persons, t('.maximum_number_of_persons')) %>
              <%= f.text_field :max_persons, prompt: "50",class: "form-control" %>
            </div>
          </div>

          <div> <%= f.submit t('.create'), class:"btn btn-form" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
