
<% # header information %>
<% meta_tag :description, @location.listing_name + ', ' + @location.summary %>
<% meta_tag :siteUrl, 'https://' + request.host + listing_location_path + '/' + @location.id.to_s %>
<% meta_tag :page_title, page_title + ' - ' + @location.listing_name %>

<% # Keywords: 'fix + town' %>
<% if !@location.active %>
  <div class="alert alert-danger text-center">
    <%= t('.inactive_location_warning') %> <br>
  <span class="small"><%= t('.inactive_location_description_warning') %></span>
  </div>
<% end %>

<%= render 'locations/presentation/title_image' %>
<hr>
<br>
<div class="row">

  <!-- left panel -->
  <div class="col-md-8 left-main-printing">
    <%= render 'locations/presentation/listing_name' %>
    <hr>
    <%= render 'locations/presentation/kind' %>
    <hr>
    <%= render 'locations/presentation/description' %>
    <hr>
    <%= render 'locations/presentation/suitable_for' %>
    <hr>
    <%= render 'locations/presentation/amenity' %>
    <hr>
    <%= render 'locations/presentation/carussel' %>
    <br>
    <%= render 'locations/presentation/google_map' %>
    <hr>
    <div class="noprint">
      <%= render 'locations/presentation/locations_nearby' %>
    </div>
  </div>

  <div class="col-md-4 noprint">
      <%= render 'contact', locals: {location: @location.user} %>
  </div>
</div>
